<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:ui="http://projectmallard.org/experimental/ui/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-launch-applications" xml:lang="as">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>ইয়াকুব স্টাইনাৰ</name>
    </credit>
    <credit type="author">
      <name>পিটাৰ ক'ভাৰ</name>
    </credit>

    <link type="guide" xref="getting-started" group="videos"/>
    <title role="trail" type="link">এপ্লিকেচনসমূহ আৰম্ভ কৰক</title>
    <link type="seealso" xref="shell-apps-open"/>
    <title role="seealso" type="link">এপ্লিকেচনসমূহ আৰম্ভ কৰিবলে এটা শিক্ষা</title>
    <link type="next" xref="gs-switch-tasks"/>
  </info>

  <title>এপ্লিকেচনসমূহ আৰম্ভ কৰক</title>

  <ui:overlay width="812" height="452">
   <media type="video" its:translate="no" src="figures/gnome-launching-applications.webm" width="700" height="394">
    <ui:thumb type="image" mime="image/svg" src="gs-thumb-launching-apps.svg"/>
      <tt:tt xmlns:tt="http://www.w3.org/ns/ttml" its:translate="yes">
       <tt:body>
         <tt:div begin="1s" end="5s">
           <tt:p>এপ্লিকেচনসমূহ আৰম্ভ কৰা হৈছে</tt:p>
         </tt:div>
         <tt:div begin="5s" end="7.5s">
           <tt:p>আপোনাৰ মাউছ পোইন্টাৰক পৰ্দাৰ ওপৰ বাঁওফালৰ চুকত <gui>কাৰ্য্যসমূহ</gui> লৈ নিয়ক।</tt:p>
           </tt:div>
         <tt:div begin="7.5s" end="9.5s">
           <tt:p><gui>এপ্লিকেচনসমূহ দেখুৱাওক</gui> আইকন ক্লিক কৰক।</tt:p>
         </tt:div>
         <tt:div begin="9.5s" end="11s">
           <tt:p>আপুনি চলাব বিচৰা এপ্লিকেচন ক্লিক কৰক, উদাহৰণস্বৰূপ, সহায়।</tt:p>
         </tt:div>
         <tt:div begin="12s" end="21s">
           <tt:p>বিকল্পভাৱে, <gui>কাৰ্য্যসমূহ অভাৰভিউ</gui> খোলিবলে কিবৰ্ড ব্যৱহাৰ কৰক আৰু <key href="help:gnome-help/keyboard-key-super">Super</key> কি' টিপক।</tt:p>
         </tt:div>
         <tt:div begin="22s" end="29s">
           <tt:p>আপুনি আৰম্ভ কৰিব বিচৰা এপ্লিকেচনৰ নাম টাইপ কৰা আৰম্ভ কৰক।</tt:p>
         </tt:div>
         <tt:div begin="30s" end="33s">
           <tt:p>এপ্লিকেচন আৰম্ভ কৰিবলে <key>Enter</key> টিপক।</tt:p>
         </tt:div>
       </tt:body>
     </tt:tt>
   </media>
  </ui:overlay>

  <section id="launch-apps-mouse">
    <title>মাউছৰ সৈতে এপ্লিকেচনসমূহ আৰম্ভ কৰক</title>
 
  <steps>
    <item><p><gui>কাৰ্য্যসমূহ অভাৰভিউ</gui> দেখুৱাবলৈ আপোনাৰ মাউছ পোইন্টাৰক পৰ্দাৰ ওপৰ বাঁওফালৰ চুকত <gui>কাৰ্য্যসমূহ</gui> লৈ নিয়ক।</p></item>
    <item><p>পৰ্দাৰ বাঁও-ফালে বাৰৰ তলত দেখুৱা <gui>এপ্লিকেচনসমূহ দেখুৱাওক</gui> আইকন ক্লিক কৰক।</p></item>
    <item><p>এপ্লিকেচনসমূহৰ এটা তালিকা দেখুৱা হয়। আপুনি চলাব বিচৰা এপ্লিকেচন ক্লিক কৰক, উদাহৰণস্বৰূপ, সহায়।</p></item>
  </steps>

  </section>

  <section id="launch-app-keyboard">
    <title>কিবৰ্ডৰ সৈতে এপ্লিকেচনসমূহ আৰম্ভ কৰক</title>

  <steps>
    <item><p><key href="help:gnome-help/keyboard-key-super">Super</key> কি টিপি <gui>কাৰ্য্যসমূহ অভাৰভিউ</gui> খোলক।</p></item>
    <item><p>আপুনি আৰম্ভ কৰিব বিচৰা এপ্লিকেচনৰ নাম টাইপ কৰা আৰম্ভ কৰক। এপ্লিকেনচৰ বাবে সন্ধান তৎক্ষনাত আৰম্ভ হয়।</p></item>
    <item><p>যেতিয়া এপ্লিকেচনৰ আইকন দেখুৱা হয় আৰু নিৰ্বাচিত হয় এপ্লিকেচন আৰম্ভ কৰিবলে <key>Enter</key> টিপক।</p></item>
  </steps>

  </section>

</page>
