<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" xmlns:ui="http://projectmallard.org/experimental/ui/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-switch-tasks" version="1.0 if/1.0" xml:lang="pa">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>ਜੈਕਬ ਸਟਿਈਨੇਰ</name>
    </credit>
    <credit type="author">
      <name>ਪੇਟਰ ਕੋਵਰ</name>
    </credit>
    <link type="guide" xref="getting-started" group="videos"/>
    <title role="trail" type="link">ਟਾਸਕ ਸਵਿੱਚ ਕਰੋ</title>
    <link type="seealso" xref="shell-windows-switching"/>
    <title role="seealso" type="link">ਕੰਮ ਬਦਲਣ ਲਈ ਸਿਖਲਾਈ</title>
    <link type="next" xref="gs-use-windows-workspaces"/>
  </info>

  <title>ਟਾਸਕ ਸਵਿੱਚ ਕਰੋ</title>

  <ui:overlay width="812" height="452">
  <media type="video" its:translate="no" src="figures/gnome-task-switching.webm" width="700" height="394">
    <ui:thumb type="image" mime="image/svg" src="gs-thumb-task-switching.svg"/>
      <tt:tt xmlns:tt="http://www.w3.org/ns/ttml" its:translate="yes">
       <tt:body>
         <tt:div begin="1s" end="5s">
           <tt:p>ਟਾਸਕ ਸਵਿੱਚ ਕਰਨੇ</tt:p>
         </tt:div>
         <tt:div begin="5s" end="8s">
           <tt:p if:test="!platform:gnome-classic">ਆਪਣੇ ਮਾਊਂਸ ਪੁਆਇੰਟਰ ਨੂੰ ਸਕਰੀਨ ਦੇ ਉੱਤੇ ਖੱਬੇ ਕੋਨੇ ਉੱਤੇ <gui>ਸਰਗਰਮੀ</gui> ਉੱਤੇ ਲੈ ਕੇ ਜਾਉ।</tt:p>
           </tt:div>
         <tt:div begin="9s" end="12s">
           <tt:p>ਕਿਸੇ ਟਾਸਕ ਉੱਤੇ ਜਾਣ ਲਈ ਉਸ ਵਿੰਡੋ ਉੱਤੇ ਕਲਿੱਕ ਕਰੋ।</tt:p>
         </tt:div>
         <tt:div begin="12s" end="14s">
           <tt:p>To maximize a window along the left side of the screen, grab
            the window’s titlebar and drag it to the left.</tt:p>
         </tt:div>
         <tt:div begin="14s" end="16s">
           <tt:p>ਜਦੋਂ ਸਕਰੀਨ ਦਾ ਅੱਧ ਉਭਾਰਿਆ ਜਾਵੇ ਤਾਂ ਵਿੰਡੋ ਨੂੰ ਛੱਡ ਦਿਉ</tt:p>
         </tt:div>
         <tt:div begin="16s" end="18">
           <tt:p>To maximize a window along the right side, grab the window’s
            titlebar and drag it to the right.</tt:p>
         </tt:div>
         <tt:div begin="18s" end="20s">
           <tt:p>ਜਦੋਂ ਸਕਰੀਨ ਦਾ ਅੱਧ ਉਭਾਰਿਆ ਜਾਵੇ ਤਾਂ ਵਿੰਡੋ ਨੂੰ ਛੱਡ ਦਿਉ</tt:p>
         </tt:div>
         <tt:div begin="23s" end="27s">
           <tt:p><gui>ਵਿੰਡੋ ਸਵਿੱਚਰ</gui> ਵੇਖਾਉਣ ਲਈ <keyseq> <key href="help:gnome-help/keyboard-key-super">ਸੁਪਰ</key> <key>ਟੈਬ</key></keyseq> ਦੱਬੋ।</tt:p>
         </tt:div>
         <tt:div begin="27s" end="29s">
           <tt:p>ਅਗਲੀ ਉਭਾਰੀ ਵਿੰਡੋ ਨੂੰ ਚੁਣਨ ਲਈ <key href="help:gnome-help/keyboard-key-super">ਸੁਪਰ</key> ਸਵਿੱਚ ਛੱਡੋ।</tt:p>
         </tt:div>
         <tt:div begin="29s" end="32s">
           <tt:p>ਖੁੱਲ੍ਹੀਆਂ ਵਿੰਡੋਜ਼ ਦੀ ਸੂਚੀ ਵਿੱਚ ਲਗਾਤਾਰ ਜਾਰੀ ਰੱਖਣ ਲਈ, <key href="help:gnome-help/keyboard-key-super">Super</key> ਨੂੰ ਛੱਡੋ ਨਾ, ਫੜੀ ਰੱਖੋ ਤੇ <key> Tab</key> ਦੱਬੋ।</tt:p>
         </tt:div>
         <tt:div begin="35s" end="37s">
           <tt:p><key href="help:gnome-help/keyboard-key-super">Super</key> ਸਵਿੱਚ ਨੂੰ<gui>ਸਰਗਰਮੀ ਝਲਕ</gui> ਵੇਖਾਉਣ ਲਈ ਦੱਬੋ।</tt:p>
         </tt:div>
         <tt:div begin="37s" end="40s">
           <tt:p>ਐਪਲੀਕੇਸ਼ਨ ਦਾ ਨਾਂ ਲਿਖਣਾ ਸ਼ੁਰੂ ਕਰੋ, ਜਿਸ ਲਈ ਤੁਸੀਂ ਬਦਲਣਾ ਚਾਹੁੰਦੇ ਹੋ।</tt:p>
         </tt:div>
         <tt:div begin="40s" end="43s">
           <tt:p>ਜਦੋਂ ਐਪਲੀਕੇਸ਼ਨ ਪਹਿਲੇ ਨਤੀਜੇ ਵਜੋਂ ਵੇਖਾਈ ਦਿੰਦੀ ਹੈ ਤਾਂ ਉਸ ਉੱਤੇ ਜਾਣ ਲਈ <key>ਐਂਟਰ</key> ਦੱਬੋ।</tt:p>
         </tt:div>
       </tt:body>
     </tt:tt>
  </media>
  </ui:overlay>

  <section id="switch-tasks-overview">
    <title>ਟਾਸਕ ਸਵਿੱਚ ਕਰੋ</title>

<if:choose>
<if:when test="!platform:gnome-classic">

  <steps>
    <item><p><gui>ਸਰਗਰਮੀ ਝਲਕ</gui> ਵੇਖਣ ਲਈ ਆਪਣੇ ਮਾਊਂਸ ਪੁਆਇੰਟਰ ਨੂੰ ਸਕਰੀਨ ਦੇ ਉੱਤੇ ਖੱਬੇ ਕੋਨੇ ਉੱਤੇ <gui>ਸਰਗਰਮੀ</gui> ਉੱਤੇ ਲੈ ਕੇ ਜਾਉ, ਜਿੱਥੇ ਤੁਸੀਂ ਉਸ ਸਮੇਂ ਚੱਲ ਰਹੀਆਂ ਟਾਸਕ ਨੂੰ ਛੋਟੀਆਂ ਵਿੰਡੋ ਦੇ ਰੂਪ ਵਿੱਚ ਵੇਖ ਸਕਦੇ ਹੋ।</p></item>
     <item><p>ਕਿਸੇ ਟਾਸਕ ਉੱਤੇ ਜਾਣ ਲਈ ਉਸ ਵਿੰਡੋ ਉੱਤੇ ਕਲਿੱਕ ਕਰੋ।</p></item>
  </steps>

</if:when>
<if:when test="platform:gnome-classic">

  <steps>
    <item><p>ਤੁਸੀਂ ਸਕਰੀਨ ਦੇ ਹੇਠਾਂ ਤੋਂ <gui>ਵਿੰਡੋ ਸੂਚੀ</gui> ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਕੰਮਾਂ ਵਿੱਚ ਤਬਦੀਲੀ ਵੀ ਕਰ ਸਕਦੇ ਹੋ। ਖੁੱਲ੍ਹੇ ਕੰਮ <gui>ਵਿੰਡੋ ਸੂਚੀ</gui> ਵਿੱਚ ਬਟਨ ਦੇ ਰੂਪ ਵਿੱਚ ਵਿਖਾਈ ਦਿੰਦੇ ਹਨ।</p></item>
     <item><p>ਕਿਸੇ ਟਾਸਕ ਉੱਤੇ ਜਾਣ ਲਈ <gui>ਵਿੰਡੋ ਸੂਚੀ</gui> ਵਿੱਚ ਬਟਨ ਕਲਿੱਕ ਕਰੋ।</p></item>
  </steps>

</if:when>
</if:choose>

  </section>

  <section id="switching-tasks-tiling">
    <title>ਟਾਈਲ ਵਿੰਡੋਜ਼</title>
    
    <steps>
      <item><p>To maximize a window along a side of the screen, grab the window’s
       titlebar and drag it to the left or right side of the screen.</p></item>
      <item><p>ਜਦੋਂ ਅੱਧੀ ਸਕਰੀਨ ਉਭਾਰੀ ਜਾਵੇ ਤਾਂ ਵਿੰਡੋ ਨੂੰ ਸਕਰੀਨ ਦੇ ਚੁਣੇ ਪਾਸ ਵਿੱਚ ਵੱਧ ਤੋਂ ਵੱਧ ਫੈਲਣ ਲਈ ਛੱਡ ਦਿਉ।</p></item>
      <item><p>ਦੋ ਵਿੰਡੋ ਨੂੰ ਨਾਲ-ਨਾਲ ਵੱਧ ਤੋਂ ਵੱਧ ਕਰਨ ਲਈ, ਦੂਜੀ ਵਿੰਡੋ ਦੇ ਟਾਈਟਲ-ਪੱਟੀ ਨੂੰ ਫੜੋ ਅਤੇ ਇਸ ਨੂੰ ਸਕਰੀਨ ਦੇ ਉਲਟ ਦੂਜੇ ਪਾਸੇ ਖਿੱਚ ਦਿਉ।</p></item>
       <item><p>ਜਦੋਂ ਅੱਧੀ ਸਕਰੀਨ ਉਭਾਰੀ ਜਾਵੇ ਤਾਂ ਵਿੰਡੋ ਨੂੰ ਸਕਰੀਨ ਦੇ ਉਲਟ ਪਾਸਿਆਂ ਵਿੱਚ ਵੱਧ ਤੋਂ ਵੱਧ ਫੈਲਣ ਲਈ ਛੱਡ ਦਿਉ।</p></item>
    </steps>
    
  </section>
  
  <section id="switch-tasks-windows">
    <title>ਵਿੰਡੋਜ਼ ਵਿੱਚ ਬਦਲਣਾ</title>
    
  <steps>
   <item><p><gui>ਵਿੰਡੋ ਸਵਿੱਚਰ</gui> ਵੇਖਾਉਣ ਲਈ <keyseq><key href="help:gnome-help/keyboard-key-super">ਸੁਪਰ</key> <key>ਟੈਬ</key></keyseq> ਦੱਬੋ, ਜਿਸ ਵਿੱਚ ਮੌਜੂਦਾ ਵਿੰਡੋ ਖੁੱਲ੍ਹੀਆਂ ਹਨ।</p></item>
   <item><p><gui>ਵਿੰਡੋ ਸਵਿੱਚਰ</gui> ਵਿੱਚ ਅਗਲੀ ਉਭਾਰੀ ਵਿੰਡੋ ਨੂੰ ਚੁਣਨ ਲਈ <key href="help:gnome-help/keyboard-key-super">ਸੁਪਰ</key> ਸਵਿੱਚ ਛੱਡੋ।</p>
   </item>
   <item><p>ਖੁੱਲ੍ਹੀਆਂ ਵਿੰਡੋਜ਼ ਦੀ ਸੂਚੀ ਵਿੱਚ ਲਗਾਤਾਰ ਜਾਰੀ ਰੱਖਣ ਲਈ, <key href="help:gnome-help/keyboard-key-super">Super</key> ਨੂੰ ਛੱਡੋ ਨਾ, ਫੜੀ ਰੱਖੋ ਤੇ <key> Tab</key> ਦੱਬੋ।</p></item>
  </steps>

  </section>

  <section id="switch-tasks-search">
    <title>ਐਪਲੀਕੇਸ਼ਨ ਬਦਲਣ ਲਈ ਖੋਜ ਵਰਤਣਾ</title>
    
    <steps>
      <item><p><key href="help:gnome-help/keyboard-key-super">Super</key> ਸਵਿੱਚ ਨੂੰ<gui>ਸਰਗਰਮੀ ਝਲਕ</gui> ਵੇਖਾਉਣ ਲਈ ਦੱਬੋ।</p></item>
      <item><p>ਬੱਸ ਐਪਲੀਕੇਸ਼ਨ ਦਾ ਨਾਂ ਲਿਖਣਾ ਸ਼ੁਰੂ ਕਰੋ, ਜਿਸ ਲਈ ਤੁਸੀਂ ਬਦਲਣਾ ਚਾਹੁੰਦੇ ਹੋ। ਤੁਹਾਡੇ ਲਿਖਣ ਨਾਲ ਮਿਲਦੀਆਂ ਐਪਲੀਕੇਸ਼ਨ ਵੇਖਾਈ ਦੇਣੀਆਂ ਸ਼ੁਰੂ ਹੋ ਜਾਣਗੀਆਂ।</p></item>
      <item><p>ਐਪਲੀਕੇਸ਼ਨ, ਜੋ ਤੁਸੀਂ ਬਦਲਣਾ ਚਾਹੁੰਦੇ ਹੋ, ਪਹਿਲੇ ਨਤੀਜੇ ਵਜੋਂ ਵੇਖਾਈ ਦਿੰਦੀ ਹੈ ਤਾਂ ਉਸ ਉੱਤੇ ਜਾਣ ਲਈ <key>ਐਂਟਰ</key> ਦੱਬੋ।</p></item>
      
    </steps>
    
  </section>

</page>
