<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-connect-online-accounts" xml:lang="lt">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>Jakub Steiner</name>
    </credit>
    <credit type="author">
      <name>Petr Kovar</name>
    </credit>
    <link type="guide" xref="getting-started" group="tasks"/>
    <title role="trail" type="link">Prisijungti prie internetinių paskyrų</title>
    <link type="seealso" xref="accounts"/>
    <title role="seealso" type="link">Prisijungimo prie internetinių paskyrų pamoka</title>
    <link type="next" xref="gs-change-date-time-timezone"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mantas Kriaučiūnas</mal:name>
      <mal:email>mantas@akl.lt</mal:email>
      <mal:years>2013-2020</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Eglė Kriaučiūnienė</mal:name>
      <mal:email>egle@valdorfas.org</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Prisijungti prie internetinių paskyrų</title>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa1.svg" width="100%"/>

    <steps>
      <item><p>Spauskite ant <gui xref="shell-introduction#yourname">sistemos meniu</gui> viršutinės juostos dešinėje.</p></item>
      <item><p>Paspauskite <gui>Nustatymai</gui>.</p></item>
    </steps>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa2.svg" width="100%"/>
    
    <steps style="continues">
      <item><p>Paspauskite ant <gui>Internetinių paskyrų</gui>, tuomet paspauskite ant internetinių paskyrų tarnybos, kurią norite naudoti.</p>

      <p>Atsivers naujas langas ir galėsite prisijungti prie savo internetinės paskyros.</p></item>
    </steps>
      
    <media its:translate="no" type="image" mime="image/svg" src="gs-goa4.svg" width="100%"/>

    <steps style="continues">
      <item><p>Dažniausiai, įvedus prisijungimo duomenis reikia duoti sutikimą, kad galėtumėte pradėti.</p></item>
      <item><p>Pavyzdžiui, jei jungiatės prie savo Google paskyros, jums reikės spustelėti <gui>Leisti (Grant Access)</gui> mygtuką.</p></item>
    </steps>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa5.svg" width="100%"/>

    <steps style="continues">
      <item><p>Daugelis internetinių paskyrų leidžia jums pasirinkti paslaugas, kurias naudosite su savo internetine paskyra. Jei kažkokios paslaugos nenorite naudoti, išjunkite ją  su <gui>ON/OFF</gui> mygtukais dešiniojoje lango pusėje.</p></item>
    </steps>

</page>
