<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-connect-online-accounts" xml:lang="ca">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>Jakub Steiner</name>
    </credit>
    <credit type="author">
      <name>Petr Kovar</name>
    </credit>
    <link type="guide" xref="getting-started" group="tasks"/>
    <title role="trail" type="link">Connecteu-vos als comptes en línia</title>
    <link type="seealso" xref="accounts"/>
    <title role="seealso" type="link">Un programa d'aprenentatge per connectar-se als comptes en línia</title>
    <link type="next" xref="gs-change-date-time-timezone"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Manel Vidal</mal:name>
      <mal:email>verduler@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  </info>

  <title>Connecteu-vos als comptes en línia</title>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa1.svg" width="100%"/>

    <steps>
      <item><p>Feu clic al <gui xref="shell-introduction#yourname">menú del sistema</gui> situat a la part dreta de la barra superior.</p></item>
      <item><p>Feu clic a <gui>Paràmetres</gui>.</p></item>
    </steps>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa2.svg" width="100%"/>
    
    <steps style="continues">
      <item><p>Feu clic al quadre <gui>Comptes en línia</gui>, llavors feu clic al servei del compte en línia que voleu usar.</p>

      <p>Això obrirà una finestra nova des de la qual podeu iniciar la sessió del compte.</p></item>
    </steps>
      
    <media its:translate="no" type="image" mime="image/svg" src="gs-goa4.svg" width="100%"/>

    <steps style="continues">
      <item><p>Un cop iniciada la sessió, i en la majoria dels casos, haureu de permetre l'accés al servei per poder utilitzar-lo.</p></item>
      <item><p>Per exemple, si us esteu connectant al vostre compte del Google, haureu de fer clic al botó <gui>Concedeix accés</gui>.</p></item>
    </steps>

    <media its:translate="no" type="image" mime="image/svg" src="gs-goa5.svg" width="100%"/>

    <steps style="continues">
      <item><p>Molts comptes en línia us deixen escollir els serveis que es poden utilitzar amb el compte. Si no voleu utilitzar un servei feu clic al commutador <gui>actiu/inactiu</gui> situat a la part dreta de la finestra per inhabilitar-lo.</p></item>
    </steps>

</page>
