<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-change-date-time-timezone" version="1.0" xml:lang="mr">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>Jakub Steiner</name>
    </credit>
    <credit type="author">
      <name>Petr Kovar</name>
    </credit>
    <link type="guide" xref="getting-started" group="tasks"/>
    <title role="trail" type="link">तारीख, वेळ आणि काल विभाग बदला</title>
    <link type="seealso" xref="clock"/>
    <title role="seealso" type="link">तारीख, वेळ आणि काल विभाग बदलण्याबाबत वर्गपाठ</title>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande</mal:name>
      <mal:email>djaniketster@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>तारीख, वेळ आणि काल विभाग बदला</title>

  <media its:translate="no" type="image" mime="image/svg" src="gs-goa1.svg" width="100%"/>

  <steps>
    <item><p>Click the <gui xref="shell-introduction#yourname">system menu</gui>
    on the right side of the top bar.</p></item>
    <item><p>Click <gui>Settings</gui>.</p></item>
  </steps>

  <media its:translate="no" type="image" mime="image/svg" src="gs-datetime.svg" width="100%"/>

  <steps style="continues">
    <item><p>Select <gui>Date &amp; Time</gui> from the sidebar.</p></item>
    <item><p><gui>स्व वेळ क्षेत्र</gui> घटक बंद केले आहे याची खात्री करा, आणि त्यानंतर <gui>वेळ क्षेत्र</gui> घटक खालीलनुरूप क्लिक करा.</p></item>
    <item><p>Click on your location on the world map. This selects your current
     city, which you can also search for in the search box above the map.</p></item>
    <item><p>Close the world map window to go back to the <gui>Date &amp;
     Time</gui> panel.</p></item>
    <item><p><gui>स्व दिनांक &amp; वेळ</gui> घटक बंद आहे याची खात्री करा, आणि त्यानंतर <gui>दिनांक &amp; वेळ</gui> पटल उघडण्याकरिता खालील <gui>दिनांक &amp; वेळ</gui> घटकावर क्लिक करा. तेथे तुम्ही <gui>+</gui> किंवा <gui>-</gui> बटनांवर क्लिक करून दिनांक आणि वेळ सेटिंग्ज सुस्थीत करू शकता.</p>
     </item>
    <item><p>Close the window to go back to the <gui>Date &amp;
     Time</gui> panel, and then close the panel.</p></item>
  </steps>

</page>
