<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="gs-use-system-search" xml:lang="kn">

  <info>
    <include xmlns="http://www.w3.org/2001/XInclude" href="gs-legal.xml"/>
    <credit type="author">
      <name>Jakub Steiner</name>
    </credit>
    <credit type="author">
      <name>Petr Kovar</name>
    </credit>
    <credit type="author">
      <name>Hannie Dumoleyn</name>
    </credit>
    <link type="guide" xref="getting-started" group="tasks"/>
    <title role="trail" type="link">ವ್ಯವಸ್ಥೆಯ ಹುಡುಕಾಟವನ್ನು ಬಳಸಿ</title>
    <link type="seealso" xref="shell-apps-open"/>
    <title role="seealso" type="link">ವ್ಯವಸ್ಥೆಯ ಹುಡುಕಾಟವನ್ನು ಬಳಸುವ ಕುರಿತು ಮಾಹಿತಿ</title>
    <link type="next" xref="gs-get-online"/>
  </info>

  <title>ವ್ಯವಸ್ಥೆಯ ಹುಡುಕಾಟವನ್ನು ಬಳಸಿ</title>

    <media its:translate="no" type="image" mime="image/svg" src="gs-search1.svg" width="100%"/>
    
    <steps>
    <item><p>Open the <gui>Activities</gui> overview by clicking <gui>Activities</gui> 
    at the top left of the screen, or by pressing the
    <key href="help:gnome-help/keyboard-key-super">Super</key> key. 
    Start typing to search.</p>
    <p>ನೀವು ಟೈಪ್‌ ಮಾಡಿದುದಕ್ಕೆ ಹೊಂದಿಕೆಯಾಗುವುದನ್ನು ನೀವು ಟೈಪ್‌ ಮಾಡುತ್ತಾ ಹೋದಂತೆ ಕಾಣಿಸಿಕೊಳ್ಳುತ್ತದೆ. ಮೊದಲನೆಯ ಫಲಿತಾಂಶವನ್ನು ಯಾವಾಗಲೂ ಹೈಲೈಟ್ ಮಾಡಲಾಗಿರುತ್ತದೆ ಮತ್ತು ಮೇಲ್ಭಾಗದಲ್ಲಿ ತೋರಿಸಲಾಗುತ್ತದೆ.</p>
    <p>ಹೈಲೈಟ್ ಮಾಡಲಾದ ಮೊದಲನೆ ಫಲಿತಾಂಶಕ್ಕೆ ಹೋಗಲು <key>Enter</key> ಅನ್ನು ಒತ್ತಿ.</p></item>
    </steps>
    
    <media its:translate="no" type="image" mime="image/svg" src="gs-search2.svg" width="100%"/>
    <steps style="continues">
      <item><p>ಹುಡುಕು ಫಲಿತಾಂಶಗಳಲ್ಲಿ ಕಾಣಿಸಿಕೊಳ್ಳುವ ಸಾಧ್ಯತೆ ಇರುವ ಅಂಶಗಳೆಂದರೆ:</p>
      <list>
        <item><p>ಹೊಂದಿಕೆಯಾಗುವ ಅನ್ವಯಗಳು, ಹುಡುಕು ಫಲಿತಾಂಶಗಳ ಮೇಲ್ಭಾಗದಲ್ಲಿ ತೋರಿಸಲಾಗುತ್ತದೆ,</p></item>
        <item><p>ಹೊಂದಿಕೆಯಾಗುವ ಸಿದ್ಧತೆಗಳು,</p></item>
        <item><p>matching contacts,</p></item>
        <item><p>matching documents,</p></item>
        <item><p>matching calendar,</p></item>
        <item><p>matching calculator,</p></item>
        <item><p>matching software,</p></item>
        <item><p>matching files,</p></item>
        <item><p>matching terminal,</p></item>
        <item><p>matching passwords and keys.</p></item>
      </list>
      </item>
      <item><p>ಹುಡುಕು ಫಲಿತಾಂಶಗಳಲ್ಲಿನ ಒಂದು ಅಂಶಕ್ಕೆ ಬದಲಿಸಲು ಅದನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ.</p>
      <p>ಪರ್ಯಾಯವಾಗಿ, ಬಾಣದ ಗುರುತಿನ ಕೀಲಿಗಳನ್ನು ಬಳಸಿಕೊಂಡು ಒಂದು ಅಂಶವನ್ನು ಹೈಲೈಟ್ ಮಾಡಿ ನಂತರ <key>Enter</key> ಅನ್ನು ಒತ್ತಿ.</p></item>
    </steps>

    <section id="use-search-inside-applications">
    
      <title>ಅನ್ವಯದ ಒಳಗಿನಿಂದ ಹುಡುಕು</title>
      
      <p>ವ್ಯವಸ್ಥೆಯ ಹುಡುಕಾಟವು ಹಲವಾರು ಅನ್ವಯಗಳಿಂದ ಫಲಿತಾಂಶಗಳನ್ನು ಒಟ್ಟುಗೂಡಿಸುತ್ತದೆ. ಫಲಿತಾಂಶಗಳ ಎಡಭಾಗದಲ್ಲಿ, ಹುಡುಕು ಫಲಿತಾಂಶದಿಂದ ದೊರೆತ ಅನ್ವಯಗಳ ಚಿಹ್ನೆಗಳನ್ನು ಕಾಣದುಬಹುದು. ಹುಡುಕಾಟವನ್ನು ಒಳಗಿನಿಂದ ಮರಳಿ ಆರಂಭಿಸಲು ಒಂದು ಅನ್ವಯಕ್ಕೆ ಸಂಬಂಧಿಸಿದ ಚಿಹ್ನೆಯ ಮೇಲೆ ಕ್ಲಿಕ್ ಮಾಡಿ. ಕೇವಲ ಉತ್ತಮವಾಗಿ ಹೊಂದಿಕೆಯಾಗುವವನ್ನು ಮಾತ್ರ <gui>ಚಟುವಟಿಕೆಗಳ ಅವಲೋಕನ</gui>ದಲ್ಲಿ ತೋರಿಸಲಾಗುವುದರಿಂದ, ಅನ್ವಯದ ಒಳಗಿನಿಂದ ಹುಡುಕಾಟ ನಡೆಸುವುದು ಉತ್ತಮವಾದ ಹುಡುಕು ಫಲಿತಾಂಶಗಳನ್ನು ನೀಡಲು ಕಾರಣವಾಗಬಹುದು.</p>

    </section>

    <section id="use-search-customize">

      <title>ಹುಡುಕು ಫಲಿತಾಂಶಗ ಅಗತ್ಯಾನುಗುಣಗೊಳಿಸಿ</title>

      <media its:translate="no" type="image" mime="image/svg" src="gs-search-settings.svg" width="100%"/>

      <note style="important">
      <p>Your computer lets you customize what you want to display in the search
       results in the <gui>Activities Overview</gui>. For example, you can
        choose whether you want to show results for websites, photos, or music.
        </p>
      </note>


      <steps>
        <title>ಫಲಿತಾಂಶಗಳಲ್ಲಿ ಏನು ಕಾಣಿಸಿಕೊಳ್ಳುತ್ತದೆ ಎನ್ನುವುದನ್ನು ಅಗತ್ಯಾನುಗುಣವಾಗಿಸಲು:</title>
        <item><p>Click the <gui xref="shell-introduction#yourname">system menu</gui>
        on the right side of the top bar.</p></item>
        <item><p>Click <gui>Settings</gui>.</p></item>
        <item><p>Click <gui>Search</gui> in the left panel.</p></item>
        <item><p>In the list of search locations, click the switch next to the
        search location you want to enable or disable.</p></item>
      </steps>

    </section>

</page>
